.content_box {
    border: 2px solid #59467c;

    background-color: #eeeeee;
    margin: 5px;
    flex-grow: 1;
}

.content_row {
    display: flex;
    flex-flow: row wrap;
    margin: 50px;
}

.content_column {
    display: flex;
    flex-flow: column wrap;
    margin: 50px;
}

/* album : content_row */

.img_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.img_thumbnail {
    margin: 10px;
    width: 300px;
    height: 300px;
}

.img_title {
    font-size: 20px;
}

/* notice, forum : content_column*/

.post_div {
    margin: 30px;
}

.post_title {
    font-size: 30px;
    border-bottom: 2px solid #59467c;
}

.post_content {
    font-size : 17px;
    margin-top: 10px;
}

/* guest : content_column */

.guest {
    border : 2px solid #85779e;
}

.post_header {
    display : flex;
    flex-direction : row;
    align-items: baseline;
    background-color: #b0a3ca;
    border-bottom : 2px solid #a094b7;
}

.post_name {
    font-size: 20px;
    font-weight : bold;
    margin-left: 10px;
}

.post_time {
    margin-left: 20px;
}

.post_guest {
    padding: 10px;
    background-color: #e0e0e0;
    height: 60px;
    overflow-x:hidden;
    overflow-y:auto;
}

.comment_header {
    display : flex;
    flex-flow : row wrap;
    align-items: baseline;
    justify-content: space-between;
    background-color: #b0a3ca;
    border-bottom : 2px solid #a094b7;
}

.writing_button {
    font-size: 20px;
}

#comment_input {
    width: 170px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: #fff6ff;
}

#comment_content {
    height: 80px;
    width: 778px;
    font-size: 17px;
    background-color: #fff6ff;
    overflow : auto;
}

/* mainPage*/

.main_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.main_text {
    margin-top: 30px;
    font-size: 40px;
}