.sidebar {
    border: 2px solid #59467c;

    flex-basis: 250px;
    flex-shrink: 0;
    background-color: #8e64a6;
    margin: 5px;

    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.sidebar_category {
    border-bottom: 1px solid #b29ddb;
    font-size: 23px;
    padding: 15px 0px 15px 0px;
}

.sidebar_category:hover {
    background-color: #b29ddb;
    font-weight: bold;
}

.user_info {
    border-bottom: 1px solid #b29ddb;
    background-color: #dbd0e7;
    margin-top: 65px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.user_icon {
    height: 100px;
    width: 100px;
}

.user_name {
    font-size: 25px;
    margin-top: 30px;
}