.app {
    /* delete border */
    border: 2px solid;

    display: flex;
    flex-direction: row;
}

.header_and_content {
    display: flex;
    flex-flow: column wrap;
    align-content: stretch;
    flex-grow: 1;
}

.header {
    /* delete border */
    border: 2px solid;

    flex-basis: 90px;
    flex-shrink: 0;
    background-color: rgb(226, 197, 197);
    margin: 5px;
}

.content {
    /* delete border */
    border: 2px solid;

    flex-grow: 1;
    background-color: rgb(183, 171, 224);
    margin: 5px;
}

.sidebar {
    /* delete border */
    border: 2px solid;

    flex-basis: 200px;
    flex-shrink: 0;
    height: 100vh;
    background-color: rgb(122, 151, 113);
    margin: 5px;
}

.blog_title {
    font-size: 30px;
    font-weight: bold;
    padding : 20px;
    margin-top: 10px;
    padding-left: 60px;
}

.idebar_category {
    font-size: 23px;
    padding : 20px;
    padding-left: 60px;
}

.idebar_category:hover {
    background-color: azure;
}