.app {
    /* delete border */
    border: 2px solid;

    display: flex;
    flex-direction: row;
}

a {
    color: black;
    text-decoration: none;
}

.none_item {
    display: none;
}

.header_and_content {
    display: flex;
    flex-flow: column wrap;
    align-content: stretch;
    flex-grow: 1;
}